.comment{
    width: 100%;
    padding-top: 20px;
    border-radius: 15px;
    /* background-color: white; */
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    /* margin-left: 20px; */
    padding-left: 20px;
    padding-bottom: 15px;
    width: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    /* margin-right: 20px; */
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(245,245,245);
}
.comment-top{
    display: flex;
}

.comment-top > p {
    color: grey;
    margin-left: 20px;
    margin-top: 20px;
}

.comment-info {
    margin-left: 20px;
    background-color: lightgrey;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    width: auto;
}



.comment-avatar {
    size: 2em;
}

form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    margin-top: 10px;
    background-color: #eff2f5;
    margin-bottom: 20px;
}

.button-delete{
    color: red;
    cursor: pointer;
    margin-right: 10px;
}


.button-edit{
    color: blue;
    margin-right: 15px;
    cursor: pointer;
}

.comment-like {
    align-items: center;
    cursor: pointer;
    display: flex;
    /* height: 30px; */
    padding: 5px;
    margin: 20px 0px;
    /* margin-left: 300px; */
    /* position: absolute; */
}
.comment-length{
    /* background-color: red; */
    /* align-items: center; */
    margin-top: 25px;
    margin-bottom: 25px;
}

.comment-like-edit {
    cursor: pointer;
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 30px 0px;
    margin-left: 50px;
}

.comment-like:hover {
    background-color: lightgrey;
    border-radius: 20px;
}
.comment-like-edit:hover {
    background-color: lightgrey;
    border-radius: 20px;
}

.comment-edit{
    width: 32px;
    border: none;
    height: 30px;
    /* padding: 5px; */
    align-items: center;
    background-color: lightgrey;
    cursor: pointer;
    /* margin-top: 10px; */
    color: blue;
}

.comment-edit:hover {
    color: black;
}

.button-edit:hover{
    color: black;
}
.button-delete:hover{
    color: black;
}