.sidebar-row:hover{
    background-color: lightgrey;
    border-radius: 10px;
}
.sidebar-row{
    
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
} 

.sidebar-row > h4 {
    margin-left: 20px;
    font-weight: 600;
}

.sidebar-row > .MuiSvgIcon-root {
    font-size: 'xx-large';
    color: blue;
}

.sidebar {
    padding: 20px 10px;
    flex: 1;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    border-end-end-radius: 20px;
    height: 480px;
}