.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background: #eff2f5;
}

.Title > img:nth-child(1) {
    object-fit: contain;
    height: 300px;
}
.Title >img:nth-child(2) {
    object-fit: contain;
    height: 80px;
}


.button{
    justify-content: center;
    display: flex;
}

.button > .button-login{
    background-color: green;
    border-radius: none
}

.button-register{
    margin-left: 20px;
}
